.subcategories{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.subcategory{
    cursor: pointer;
}

.themes-filter{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    opacity: 60%;
}

.filter-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
    text-align: center;
}