.login-title{
    margin-top: 120px;
    text-align: center;
    font-size: 40px;
}

.signup-container {
  width: 350px;
  margin: 50px auto;
  padding: 30px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: white;
  text-align: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.signup-form input {
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.signup-form button {
  padding: 10px;
  font-size: 16px;
  border: none;
  background-color: #000;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.signup-form button:hover {
  background-color: #333;
}

.divider {
  margin: 20px 0;
  font-size: 14px;
  color: #666;
}

.google-signin {
  display: flex;
  justify-content: center;
}
