.date-range-picker{
    max-width: 750px;
    margin: auto;
    margin: auto auto 20px auto;
}

.date-inputs{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: auto auto 10px auto;
}

.date-input{
    display: flex;
    justify-content: center;
    justify-items: center;
    background-color: white;
    border-radius: 10px;
    gap: 5px;
    cursor: pointer;
}

.date-input svg{
    margin: auto;
    padding-right: 10px;
}

.date-input h4{
    padding-left: 10px;
}