.titre{
    width: 100vw;
    margin:  60px auto 30px auto;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.view-all{
    width: 220px;
    padding: 15px;
    margin: 30px auto 80px auto;
    text-align: center;
    border: 1.5px solid #d9d9d9;
    border-radius: 30px;
    text-decoration: none;
    color: black;
}

.view-all-link{
    text-decoration: none;
    color: black;
}

.big-title{
    font-size: 50px;
    text-transform: uppercase;
    margin-left: 100px;
}

/* Très petits téléphones */
@media (max-width: 480px) {
}

/* Mobiles en général */
@media (max-width: 640px) {
    .big-title{
        font-size: 35px;
        margin-left: 40px;
    }

}

/* Tablettes */
@media (max-width: 768px) {

}

/* Petits laptops */
@media (max-width: 1024px) {

}

/* Grand écran */
@media (min-width: 1281px) {

}