.profile-image-container{
    padding: 6px;
}

.add-worker-title{
    margin-top: 100px;
    text-align: center;
    font-size: 40px;
}

.add-worker-container {
  width: 70%;
  margin: 10px auto;
  padding: 20px;
  text-align: center;
}