.footer-container{
    margin: 70px auto 0 auto;
    position: relative;
}

.newsletter{
    width: 80%;
    padding: 35px;
    background-color: black;
    border-radius: 20px;
    margin: auto;
    display: flex;
}

.newsletter-title{
    color: white;
    font-size: 40px;
    flex: 1;
}

.newsletter-inputs{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.mail-input{
    display: flex;
    gap: 4px;
    padding: 15px;
    border-radius: 20px;
    background-color: white;
    width: 90%;
    margin: auto;
}

.mail-input input{
    border: none;
    width: 100%;
}

.mail-input input:focus{
    outline: none;
}

.mail-button{
    width: 90%;
    margin: auto;
}

.mail-button button{
    width: 100%;
    padding: 15px;
    margin: auto;
    border-radius: 20px;
    background-color: white;
}

.footer{
    background-color: #F0F0F0;
    position: absolute;
    top: 90px;
    width: 100%;
    z-index: -1;
}

.footer-content{
    margin: 130px auto 50px auto;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 15px;
    width: 80%;
}

.footer-presentation{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.social-medias{
    display: flex;
    gap: 10px;
    justify-content: start;
}




.social-media img{
    max-height: 22px;
}

.footer-section{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

hr{
    width: 80%;
    margin: auto;
    opacity: 0.5;
}

.footer-copyright{
    width: 80%;
    margin: 20px auto 30px auto;
    display: flex;
    justify-content: space-between;
}

/* Très petits téléphones */
@media (max-width: 480px) {
}

/* Mobiles en général */
@media (max-width: 640px) {
    .footer-container{
        margin: 0px auto 0px auto;
    }
    .footer{
        top: 120px;
    }
    .newsletter{
        display: block !important;
        padding: 20px;
        width: 80%;
        margin: auto;
    }
    .newsletter-title{
    color: white;
    font-size: 25px;
    margin-bottom: 15px;
    }
    .footer-content{
    grid-template-columns: 1fr 1fr !important;
    width: 95%;
    }
    .footer-presentation{
        grid-column: span 2;
        width: 100%;
    }
}

/* Tablettes */
@media (max-width: 768px) {

}

/* Petits laptops */
@media (max-width: 1024px) {

}

/* Grand écran */
@media (min-width: 1281px) {

}